@charset "UTF-8";

input[type=text] {
    background-color: transparent;
    color: transparent;
    border: transparent;
    block-size: 2.6ch;
    font-size: 10ch;
    letter-spacing: 2ch;
    position: absolute;
}

input[type=text].vertical {
    block-size: 1.95ch;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

table {
    font-family: "Oswald", monospace;
    font-size: 8ch;
    width: calc(100% - 10ch);
    margin: 3ch 2ch 0 2ch;
}

td {
    border: .1ch solid black;
    padding: .1ch .5ch .1ch .5ch;
    text-align: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

td.invisible {
    border: none;
}

td.number {
    border: none;
    text-align: right;
    font-size: small;
    font-weight: bolder;
}

td.vertical {
    text-align: center;
    padding: auto;
}

.red_letter {
    color: red;
}