@charset "UTF-8";

input[type=text] {
    margin: 0 0 1ch 1ch;
    inline-size: attr(maxlength, ch);
    block-size: auto;
    /* font-weight: 10ch; */
    font-size: 10ch;
    letter-spacing: 2ch;
}

input[type=text].vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
}