@charset "UTF-8";

input[type=text] {
    background-color: transparent;
    color: transparent;
    border: transparent;
    block-size: 2.6ch;
    font-size: 10ch;
    letter-spacing: 2ch;
    position: absolute;
}

input[type=text].vertical {
    block-size: 1.95ch;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

table {
    font-family: "Oswald", monospace;
    font-size: 10ch;
    position: absolute;
    z-index: -1;
    background-color: var(--text-color);
}

tr,
td {
    border: .1ch solid black;
    padding: .1ch 1ch .1ch 1ch;
    text-align: center;
    color: var(--text-color);
}

td {
    background-color: var(--bg-color);
}

h1 {
    position: absolute;
    left: -3ch;
    top: 2ch;
}

h1.vertical {
    left: 3ch;
    top: -3ch;
}

.red_letter {
    color: red;
}