@charset "UTF-8";

table {
    font-family: "Oswald", monospace;
    font-size: 5ch;
    width: calc(100% - 10ch);
    margin: 3ch .5ch 0 2ch;
}

td {
    border: .1ch solid black;
    padding: .1ch .5ch .1ch .5ch;
    text-align: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

td.invisible {
    border: none;
}

td.number {
    border: none;
    text-align: right;
    font-size: small;
    font-weight: bolder;
}

td.vertical {
    vertical-align: bottom;
    text-align: center;
}

.red {
    margin: 0;
    font-size: small;
    color: red;
}