@charset "UTF-8";

:root {
    --bg-color: #FAFAFA;
    --text-color: black;
    --text-color-inverted: white;
    --header-color: rgb(50, 47, 47);
    --blue: rgb(15, 128, 173);
    --orange: rgb(173, 139, 15);
    --green: rgb(70, 195, 78);
    --purple: rgb(163, 88, 227);
}

[data-theme="dark"] {
    --bg-color: rgb(38, 38, 38);
    --text-color: white;
    --text-color-inverted: black;
    --header-color: black;
    --blue: rgb(7, 14, 192);
    --orange: rgb(201, 126, 5);
    --green: rgb(21, 122, 3);
    --purple: rgb(67, 6, 121);
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: var(--text-color);
    font-size: 9pt;
    background-color: var(--bg-color);
    margin: 0;
}

header {
    background: var(--header-color);
    padding: 30px 30px;
}

footer {
    background: var(--header-color);
    padding: 100px 15px 15px 0;
}

/* Thanks to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch for the button switcher */

.darkmode {
    position: absolute;
    display: inline-block;
    inline-size: 60px;
    block-size: 34px;
    inset-block-start: 30px;
    inset-inline-end: 35px;
}

.darkmode input {
    display: none;
}

.buttonSlider {
    position: absolute;
    cursor: pointer;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.buttonSlider:before {
    position: absolute;
    content: "🌞";
    text-align: center;
    font-size: 20px;
    block-size: 26px;
    inline-size: 26px;
    inset-inline-start: 4px;
    inset-block-end: 4px;
    border-radius: 50%;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.buttonSlider {
    background-color: white;
}

input:checked+.buttonSlider:before {
    content: "🌙";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

a {
    text-decoration: line-through;
    text-decoration-line: underline;
    text-decoration-color: #ccc;
    color: white;
}

#hidden_link {
    color: var(--header-color);
    text-decoration-color: var(--header-color);
}

a:hover,
#hidden_link:hover {
    color: bisque;
    text-decoration-color: #ccc;
}


p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5vh;
    margin-right: 5vh;
}
