@charset "UTF-8";

table {
    width: calc(100% - 10ch);
    margin: 15ch 5ch 15ch 5ch !important;
    border-spacing: 5ch;
}


td {
    border: .5ch solid black;
    border-radius: 5%;
    text-align: center;
}

img {
    width: 40vh;
    height: 50vh;
    object-fit: scale-down;
    filter: blur(20px);
}